# 依赖
node_modules/

# 构建产物
dist/
dist-ssr/

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# 编辑器 / 系统
.vscode/
.idea/
.DS_Store
Thumbs.db

# 本地环境变量
.env
.env.local
.env.*.local
